/**
 * WordPress Core
 * --------------
 */


.alignnone {
  display: block;
  margin-bottom: 1.5rem;
}

.aligncenter {
  display: block;
  margin: 0 auto 1.5rem;
}

.alignright {
  display: block;
  margin-bottom: 1.5rem;

  @include breakpoint(medium) {
    float: right;
    margin: 0 0 1rem 1rem;
  }
}

.alignleft {
  display: block;
  margin-bottom: 1.5rem;

  @include breakpoint(medium) {
    float: left;
    margin: 0 1rem 1rem 0;
  }
}

.gallery {
  margin-bottom: 1.5rem;

  &:after,
  &:before {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.gallery-item {
  width: 100%;

  @include breakpoint(medium) {
    float: left;
  }

  .gallery-columns-2 & {
    @include breakpoint(medium) {
      width: 50%;
    }
  }

  .gallery-columns-3 & {
    @include breakpoint(medium) {
      width: 33.33%;
    }
  }

  .gallery-columns-4 & {
    @include breakpoint(medium) {
      width: 25%;
    }
  }

  .gallery-columns-5 & {
    @include breakpoint(medium) {
      width: 20%;
    }
  }

  .gallery-columns-6 & {
    @include breakpoint(medium) {
      width: 16.66%;
    }
  }

  .gallery-columns-7 & {
    @include breakpoint(medium) {
      width: 14.28%;
    }
  }

  .gallery-columns-8 & {
    @include breakpoint(medium) {
      width: 12.5%;
    }
  }

  .gallery-columns-9 & {
    @include breakpoint(medium) {
      width: 11.11%;
    }
  }
}

.gallery-caption {
  display: block;
}

.sticky {
  display: block;
}

.wp-caption {
  .wp-caption-text {}
}